<div class="row">
  <div class="col-md-6">
    <h3>Day 1, February 24</h3>
    <table class="table table-striped">
	  <tr> <td>09:00</td>  <td>Introduction,survey,setup</td> </tr>
      <tr> <td>09:15</td>  <td>Python basics 1</td> </tr>
      <tr> <td>10:45</td>  <td>Coffee</td> </tr>
	  <tr> <td>11:00</td>  <td>Python basics 2</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>1:30</td>  <td>Unix Shell 1</td> </tr>
      <tr> <td>3:00</td>  <td>Coffee</td> </tr>
      <tr> <td>3:15</td>  <td>Unix Shell 2</td> </tr>
	  <tr> <td>5:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2, February 25</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Python Programming</td> </tr>
      <tr> <td>10:45</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Data Visualization with ggplot</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>1:30</td>  <td>Writing reports</td> </tr>
	  <tr> <td>3:00</td>  <td>Coffee</td> </tr>
      <tr> <td>3:15</td>  <td>Intro to Git and Github</td> </tr>
	  <tr> <td>4:45</td>  <td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}">Post-workshop Survey</a></td> </tr>
      <tr> <td>5:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
